= render 'shared/error_messages', object: f.object		
= f.label :title
= f.text_field :title, placeholder: "Have 100 words to write a title..." 
= f.label :description
= f.text_area :description, placeholder: "Have 300 words to write a description..."
