= f.fields_for :videos do |v|
	%section
		= v.label :title
		= v.text_field :title, placeholder: "Have 100 characters to write a title..."
		= v.label :picture
		= v.file_field :picture
		
		%p.line-bottom.small-12.large-12.column
