= provide(:title, @course.title)

%h2.small-12.large-8.large-offset-2.text-center= @course.title

/--------------------------------Course info.
.small-12.large-12
	.line-bottom.row.small-11.large-12
		%h3.small-12.large-10
			.small-4.large-2.column Author
			%strong.small-8.large-8= @course.author.name
		- if !signed_in?
			= link_to "Sign in to register", signin_path, class: "small-6 large-2 large-offset-10 column button small"
		- else
			- if !author?(@course)
				-if @profile
					= render 'profiles/unregister'
				-else
					= render 'profiles/register'			

	.line-bottom.row.small-11.large-12
		%h3.small-12.large-12.column Description
		%p.small-12.large-12.column= @course.description

	.row.small-11.large-12
		%h3.small-12.large-12.column= pluralize(@videos.count, 'Video')
		- @videos.each do |video|
			- if !signed_in? || (!author?(@course) && !registered?(@course))
				%p.small-12.large-12.column= video.title
			- else
				%p.small-12.large-12.column= link_to video.title, [@course, video]
				